.welcomeText {
  text-align: left;
  position: relative;
  top: 200px;
  width: 40%;
  margin: auto;
  line-height: 25px;
}

.beginButton {
  background: #7E7C7C;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  border: none;
}

.beginButton:hover {
  background: #fff;
  border-radius: 5px;
  color: #7E7C7C;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
}