.navbar {
  margin: 20px auto;
  width: 80%;
}

.logo {
  position: absolute;
  font: inherit;
  font-weight: 800;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.date {
  position: absolute;
  font-weight: 300;
  font-size: 18px;
  top: 70px;
}

.link {
  float: right;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #ffffff;
  background: #7E7C7C;
  border-radius: 5px;
}

.link:active {
  color: #ffffff;
  background: #7E7C7C;
  border-radius: 5px;
}
